@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/spacings";
@import "sections";

ul.styled-list li {
  margin-bottom: 10px;
}

ul.styled-list li::before {
  content: "•";
  font-size: 15px;
  color: #928327;
  padding-right: 14px;
}

.site-brand {
  font-size: 26px;
  color: #ffffff;
}
