@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/spacings";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 1.5;
  color: #1f1f1f;
  background: $body-color-1;
}
.site-wrapper {
  overflow: hidden;
}

.slick-slide {
  &:focus {
    border: none;
    outline: none;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a,
span {
  display: inline-block;
}

a {
  transition: 0.4s;
  color: inherit;
  &:focus {
    outline: none !important;
  }
  &:hover {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;
}

p {
  font-size: 15px;
  &.lg {
    font-size: 16px;
  }
  &.sm {
    font-size: 12px;
  }
  @include tablet {
    font-size: 17px;
  }
}
span {
  font-size: 12px;
}

.btn:focus,
.btn:active {
  box-shadow: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}

.card {
  border: none;
  border-radius: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}

/* Common Classes */

.section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
  @include tablet {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-title {
  text-align: center;
  .title {
    color: #000;
    font-weight: 700;
    letter-spacing: -0.3px;
    margin-bottom: 25px;
    // line-height: 50px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: $secondary-color;
  }
}

/* Background Image */
.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.shape-holder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  img {
    width: 100%;
    max-width: initial;
  }
}

/* Flex */

.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text--primary {
  color: $primary-color;
}

.fs-inherit {
  font-size: inherit;
}

/* Animation */

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Borders */

.section-divider {
  border: 1px solid #e8e8ea;
}

.divider--right {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    right: -15px;
    bottom: 10px;
    width: 1px;
    height: 111px;
    border: 1px solid #e8e8ea;
  }
}

.badge {
  width: 132px;
  height: 30px;
  border-radius: 15px;
  background-color: #fa8231;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 25px;
  span {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
  }
  @include tablet {
    margin-top: 100px;
    margin-bottom: 20px;
  }

  @include desktops {
    margin-top: 120px;
  }
}

/* Toggle Button */

[class*="btn--toggle"] {
  margin-bottom: 35px;
  border: 1px solid #e5e5e5;
  padding: 4px;
  border-radius: 500px;
  .switch {
    display: flex;
    width: 233px;
    height: 33px;
    position: relative;
    margin-bottom: 0;
  }

  .switch p {
    flex: 50%;
    max-width: 50%;
    margin: 0;
    text-align: center;
    color: #fff;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    color: #0f3d33;
    text-transform: uppercase;
    // &:first-child{
    // color: #fff!important;
    // }
    // &:last-child{
    // color: #000!important;
    // }
  }

  .switch input[type="checkbox"] {
    display: none;
    &:checked {
      ~ .slider {
        transform: translateX(100%);
        background: $primary-color;
      }
      ~ p {
        color: #000;
      }
      // ~ p:last-child{
      // color: #fff!important;
      // }
    }
  }

  .slider {
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
    background: $primary-color;
    border-radius: 500px;
    transform: translateX(0);
    transition: 0.4s;
  }
}

/* Toggle Button ends */

/* pricng toggle */

.custom-tab-wrapper {
  &.monthly {
    [data-monthly] {
      display: inline-block;
      &:before {
        content: attr(data-monthly);
        visibility: visible;
        display: inline-block;
      }
    }
    .price-default {
      display: none;
    }
  }
  &.yearly {
    [data-yearly] {
      display: inline-block;
      &:before {
        content: attr(data-yearly);
        visibility: visible;
        display: inline-block;
      }
    }
    .price-default {
      display: none;
    }
  }
}

.d-xs-block {
  @include mobile {
    display: block !important;
  }
  @include mobile-lg {
    display: block;
  }
}

.bg-light-white {
  background: $light-white;
}

/* Animation Effects */
.hvr-bounce-to-right {
  // display: inline-block;
  // vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
  // color: white;
}
.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Outline Out */
.hvr-outline-out {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
}
.hvr-outline-out:before {
  content: "";
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-out:hover:before,
.hvr-outline-out:focus:before,
.hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

/* Trim */
.hvr-trim {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
}
.hvr-trim:before {
  content: "";
  position: absolute;
  border: white solid 4px;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.hvr-trim:hover:before,
.hvr-trim:focus:before,
.hvr-trim:active:before {
  opacity: 1;
}

/* Ripple Out */
@-webkit-keyframes ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-ripple-out:before {
  content: "";
  position: absolute;
  border: #e1e1e1 solid 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before,
.hvr-ripple-out:focus:before,
.hvr-ripple-out:active:before {
  -webkit-animation-name: ripple-out;
  animation-name: ripple-out;
}

/* Preloader */
.preloader-site {
  overflow: hidden;
}
.preloader-wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  background: #f8fbfe;
}
.berlin-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.berlin-cube-grid .berlin-cube {
  width: 33%;
  height: 33%;
  background-color: $primary-color;
  float: left;
  -webkit-animation: berlin-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: berlin-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.berlin-cube-grid .berlin-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.berlin-cube-grid .berlin-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.berlin-cube-grid .berlin-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.berlin-cube-grid .berlin-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.berlin-cube-grid .berlin-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.berlin-cube-grid .berlin-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.berlin-cube-grid .berlin-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.berlin-cube-grid .berlin-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.berlin-cube-grid .berlin-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes berlin-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes berlin-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
