$primary-color: #ffa400;
$secondary-color: #323232;
$btn-text: #0f3d33;
$white: #fff;
$black: #000;
$light-white: #f8fbfe;

$body-color-1: #fff;
$body-color-2: #f8fbfe;
$circle-color-1: #fc5c65;
$circle-color-2: #50e3c2;
$circle-color-3: #a665fb;

// Fonts
$primary-font: "Inter", sans-serif;

// Screen Width
$screen-xxs: 320px;
$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1366px;
$screen-xxxl: 1600px;
